h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
}

h2 {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.div-black {
    background-color: black;
}

.div-white {
    background-color: white;
}

.div-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.navbar {
    background-color: black !important;
}

.text-contacto {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}